body{
  /*background-color: #284b63;*/
  background: rgb(40,75,99);
  background: linear-gradient(180deg, rgba(40,75,99,0.8925945378151261) 0%, rgba(0,23,40,1) 100%);
  font-family: Open Sans;
  font-weight: 400;
  color: #284b63;
  font-size: 14px;
  line-height: 1.4;
}

h1{
  font-family: Anton, Varela Round;
  font-size: 2em;
  color: #d62828;
}

h2{
  font-family: Varela Round, Roboto, Montserrat;
  font-size: 1.7em;
}

h3{
  font-family: Varela Round, Roboto, Montserrat;
  font-size: 1.4em;
}

p{
  font-family: Roboto, Montserrat;
  font-size: 1.2em;
}

a{
  font-size: 1.1em;
  color: #3c6e71;
}

a:hover{
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

#sidebar {
  background-color: #3c6e71;
  position: fixed;
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#page-content {
  margin-left: 5%;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
}

#job{
  display: inline-block;
  padding-left: 0px;
}

.container {
  width: 900px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-rounded{
  border-radius: 10px;
}

#avatar{
  width: 250px;
  height: 250px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-grey {
  background: #d9d9d9;
  box-shadow: 8px 8px 5px black;
  border-style: outset;
  padding: 2%;
  margin: 5%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

#movies
{
  border-collapse:separate;
  border-spacing:0 25px;
}

.synopsis {
  width: 50%;
  border-style: solid;
  background-color: #3c6e71;
  color: white;
}

.fa, .fas{
  color: black;
}
